doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Upload your file
    link(rel='stylesheet', href='../upload.css')
  body
    form(action='/file/upload', method='POST', enctype='multipart/form-data')
      input(type='file', name='file')
      p #{querybody}
      button(type='submit') Upload
    script(src='../jquery-3.3.1.min.js')
    script(src='../upload.js')
